*{background-color:red;}
h1{
    text-align: center;
}
.container{
    padding:60px;
    display:flex;
    background-color: lavenderblush;
    flex-direction: row;
}
.cajita{
    width: 15%;
    height: 300px;
    background-color: deeppink;
    margin: 20px;
}

.botonDeColor{
    background-color: blue;
    animation-name: cambioColorAlReves;
    animation-duration: 10s;
    animation-iteration-count:infinite;

}

.card-body:hover{
    animation-name: cambioColorAlReves;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
@keyframes cambioColor {
    0% {background-color:blue;}
    50% {background-color:Red;}
    100% {background-color: blue;}
}
@keyframes cambioColorAlReves {
    0% {background-color:red;}
    50% {background-color:blue;}
    100% {background-color: red;}
}
@media screen and (min-width:600px){
    body{
        background-color: red;
    }
    .container{
        flex-direction: column;
        
    }
    .cajita{
        width: 90%;
    }
}
@media screen and (min-width:800px){
    body{
        background-color: blue;
    }
    .container{
        flex-direction: row;
        
    }
    .cajita{
        width: 45%;
    }
}
@media screen and (min-width:1000px){
    body{
        background-color: green;
    }
    .container{
        flex-direction: row;
        
    }
    .cajita{
        width: 22%;
    }
}